DuW_X2_flows.json
[{"id":"aebc585f.fa34c8","type":"tab","label":"AerosmartPi","disabled":false,"info":""},{"id":"e939a749.5adae8","type":"serial in","z":"aebc585f.fa34c8","name":"aerosmart serial debug interface (serial in)","serial":"dc5f7c5e.c7c5c8","x":220,"y":1060,"wires":[["2bf79c19.38e2f4","4e0ff462d33a94cf"]]},{"id":"2bf79c19.38e2f4","type":"function","z":"aebc585f.fa34c8","name":"Split Message","func":"var newMsg = { payload: msg.payload.split(\" \") };\nreturn newMsg;","outputs":1,"noerr":0,"x":540,"y":1060,"wires":[["a5733530.57f2b","e24e3a3a.01ff18","fe47097e.5fd0b8","6e061aea.810f74","177034dd.6d7703","f69ea7ea.29986","51d1ef67.ea6b3","66cc34cd.943efc","6c9b65f6.2c351c","49a9140e.89cbec","74c12617.e3fa4","5d960440.ca7d5c","bd77a23f.07a63","62df2cda.9c8af4","c2f11b62.22619","9230edda.55fb7","5d76c33a.76dd64","e63321e9.b030d","35081612.fb0282","7eedf8f6.aa9698","4c67f873.950428","2a59801e.2ba6f8","4a647778.632a","940df481ad91e942","8432e8baa1855735","b95d1935a41c2114","dba0562a84885308","74c3c4248eb8ea19","5f8ed0f8c69e2d38","7340a63c2e94cc4a","f8ef8c60d1251405","b679032eb81fdbcb","c21db1d0ee601ac7","ec537398b9c5e6b5","79c609ae31a60fde","d5ca4b847b3bcd41","5c3cbb50775d5621","0f3e19a3694d40da","3ebe2819e4496ef9","9e960cf19544da24","29a95080336efddf","ef1b829801bb5308","8d846f3ec523851c","fecaf791ef4e8252","24186c0fa24ce42f","99aa921cb817cad1","ae629604762e8ab7","294052859e1df57f","af27de93665b62ae","990f75235bd31eea","d1806c31bb5d579e","68fdf8b252628abf","521b86ad2515454a","1d913426d6e1f533","f0580a4136935f5b","bbc9b9d51120249d","903f9c32eea7c453","d25e73cd6aeba17b","53679787985b809c","255fa16271d8c1c7"]]},{"id":"a5733530.57f2b","type":"function","z":"aebc585f.fa34c8","name":"Temperatur Aussenluft (202)","func":"var array = msg.payload;\n\nvar type = array[0];\nvar modbusID = array [1];\nvar value = array[2];\n\n//var jsonString = {};\n\n//Temperatur der Aussenluft\nif (type == 130 && ((modbusID == 202) || (modbusID == 203))) {\n  \n    var temperatureValue = value.trim()/1000;\n    temperatureValue = temperatureValue.toFixed(1);\n\n    var newMsg = { payload: temperatureValue };\n    node.send(newMsg);\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":400,"wires":[["2c84df3f95ab3f0c"]]},{"id":"e24e3a3a.01ff18","type":"function","z":"aebc585f.fa34c8","name":"Drehzahl Abluftventilator (1186)","func":"var array = msg.payload;\n\nvar type = array[0];\nvar modbusID = array [1];\nvar value = array[2];\n\n//var jsonString = {};\n\n//Drehzahl Abluftventilator\nif (type == 130 && ((modbusID == 1186) || (modbusID == 1187))) {\n    \n    var drehzahl = value.trim() / 1;\n    drehzahl = drehzahl.toFixed(0);\n\n    var newMsg = { payload: drehzahl };\n    node.send(newMsg);\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1110,"y":760,"wires":[["451fabb58478e9be"]]},{"id":"fe47097e.5fd0b8","type":"function","z":"aebc585f.fa34c8","name":"Aktive Lüfterstufe (1066)","func":"var array = msg.payload;\n\nvar type = array[0];\nvar modbusID = array [1];\nvar value = array[2];\n\n//var jsonString = {};\n\n//Aktive Lüfterstufe\nif (type == 130 && ((modbusID == 1066) || (modbusID == 1067))) {\n    \n    //var measurementObject = {};\n    //measurementObject.measurement = \"stufe\";\n    //measurementObject.type = type.trim();\n    \n    var stufeValue = value.trim();\n    stufeValue = stufeValue.slice(0,2) + \".\" + stufeValue.slice(2)\n    stufeValue = parseFloat(stufeValue);\n    \n    //measurementObject.value  = stufeValue;\n\n    //jsonString= JSON.stringify(measurementObject);\n\n    var newMsg = { payload: stufeValue };\n    node.send(newMsg);\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1090,"y":100,"wires":[["10c4f5b6ed19945f"]]},{"id":"6e061aea.810f74","type":"function","z":"aebc585f.fa34c8","name":"Summenstörung (800)","func":"var array = msg.payload;\n\nvar type = array[0];\nvar modbusID = array [1];\nvar value = array[2];\n\n//var jsonString = {};\n\n//Summenstörung\nif (type == 130 && ((modbusID == 800) || (modbusID == 801))) {\n    \n    //var measurementObject = {};\n    //measurementObject.measurement = \"summenstoerung\";\n    //measurementObject.type = type.trim();\n    //measurementObject.value  = value.trim();\n    //jsonString= JSON.stringify(measurementObject);\n    \n    var newMsg = { payload: value.trim() };\n    node.send(newMsg);\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":440,"wires":[[]]},{"id":"177034dd.6d7703","type":"function","z":"aebc585f.fa34c8","name":"Summenstörung 2 (7500)","func":"var array = msg.payload;\n\nvar type = array[0];\nvar modbusID = array [1];\nvar value = array[2];\n\n//var jsonString = {};\n\n//Summenstörung\nif (type == 140 && ((modbusID == 7500) || (modbusID == 7501))) {\n    \n    //var measurementObject = {};\n    //measurementObject.measurement = \"summenstoerung2\";\n    //measurementObject.type = type.trim();\n    //measurementObject.value  = value.trim();\n    //jsonString= JSON.stringify(measurementObject);\n    \n    var newMsg = { payload: value.trim() };\n    node.send(newMsg);\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1090,"y":2100,"wires":[[]]},{"id":"f69ea7ea.29986","type":"function","z":"aebc585f.fa34c8","name":"Betriebsart (5002)","func":"var array = msg.payload;\n\nvar type = array[0];\nvar modbusID = array [1];\nvar value = array[2];\n\nvar states = [\"Manuell Stufe 0\", \"Manuell Stufe 1\",\n    \"Manuell Stufe 2\", \"Manuell Stufe 3\",\n    \"Automatikbetrieb\", \"Party\"];\n\n\n//var jsonString = {};\n\n//Summenstörung\nif (type == 130 && ((modbusID == 5002) || (modbusID == 5003))) {\n    \n    //var measurementObject = {};\n    //measurementObject.measurement = \"betriebsart\";\n    //measurementObject.type = type.trim();\n    //measurementObject.value  = value.trim();\n    //jsonString= JSON.stringify(measurementObject);\n    \n    var newMsg = { payload: states[value.trim()] };\n    node.send(newMsg);\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1070,"y":180,"wires":[["56291e369b028fe8"]]},{"id":"51d1ef67.ea6b3","type":"function","z":"aebc585f.fa34c8","name":"SNR (1158)","func":"var array = msg.payload;\n\nvar type = array[0];\nvar modbusID = array [1];\nvar value = array[2];\n\n//var jsonString = {};\n\n//Summenstörung\nif (type == 120 && modbusID == 1158) {\n    \n    //var measurementObject = {};\n    //measurementObject.measurement = \"snr\";\n    //measurementObject.type = type.trim();\n    //measurementObject.value  = value.trim();\n    //jsonString= JSON.stringify(measurementObject);\n    \n    var newMsg = { payload: value.trim() };\n    node.send(newMsg);\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1050,"y":140,"wires":[[]]},{"id":"66cc34cd.943efc","type":"function","z":"aebc585f.fa34c8","name":"Raumtemperatur Soll (5016)","func":"var array = msg.payload;\n\nvar type = array[0];\nvar modbusID = array [1];\nvar value = array[2];\n\n//var jsonString = {};\n\n//Temperatur Raum Soll\nif (type == 130 && ((modbusID == 5016) || (modbusID == 5017))) {\n    \n    //var measurementObject = {};\n    //measurementObject.measurement = \"temperature\";\n    //measurementObject.type = type.trim();\n    \n    var temperatureValue = value.trim()/1000;\n    temperatureValue = temperatureValue.toFixed(1);\n\n\n    var newMsg = { payload: temperatureValue };\n    node.send(newMsg);\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":220,"wires":[["50156e5732f1191a"]]},{"id":"6c9b65f6.2c351c","type":"function","z":"aebc585f.fa34c8","name":"Drehzahl Zuluftventilator (1184)","func":"var array = msg.payload;\n\nvar type = array[0];\nvar modbusID = array [1];\nvar value = array[2];\n\n//var jsonString = {};\n\n//Drehzahl Zuluftventilator\nif (type == 130 && ((modbusID == 1184) || (modbusID == 1185))) {\n    \n    var drehzahl = value.trim() / 1;\n    drehzahl = drehzahl.toFixed(1);\n\n    var newMsg = { payload: drehzahl };\n    \n    node.send(newMsg);\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1110,"y":720,"wires":[["49d8711750915e2b"]]},{"id":"49a9140e.89cbec","type":"function","z":"aebc585f.fa34c8","name":"Status Wärmepumpe Restzeit (1316)","func":"var array = msg.payload;\n\nvar type = array[0];\nvar modbusID = array [1];\nvar value = array[2];\n\n//var jsonString = {};\n\n//Status Wärmepumpe Restzeit\nif (type == 140 && ((modbusID == 1316) || (modbusID == 1317))) {\n    \n    //var measurementObject = {};\n    //measurementObject.measurement = \"seconds\";\n    //measurementObject.type = type.trim();\n    //measurementObject.value  = value.trim();\n    //jsonString= JSON.stringify(measurementObject);\n    \n    var newMsg = { payload: value.trim() };\n    node.send(newMsg);\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1130,"y":2060,"wires":[["e71f6613b66d939f"]]},{"id":"74c12617.e3fa4","type":"function","z":"aebc585f.fa34c8","name":"Betriebsstunden Feinstaubfilter (928)","func":"var array = msg.payload;\n\nvar type = array[0];\nvar modbusID = array [1];\nvar value = array[2];\n\n//var jsonString = {};\n\n//Betriebsstunden Feinstaubfilter\nif (type == 130 && ((modbusID == 928) || (modbusID == 929))) {\n    \n    var betriebsstunden = value.trim() / 60;\n    betriebsstunden = betriebsstunden.toFixed(0);\n\n    var newMsg = { payload: betriebsstunden };\n    node.send(newMsg);\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1130,"y":520,"wires":[["455b86e735f1f01f"]]},{"id":"5d960440.ca7d5c","type":"function","z":"aebc585f.fa34c8","name":"Uhrzeit (5212)","func":"var array = msg.payload;\n\nvar type = array[0];\nvar modbusID = array [1];\nvar value = array[2];\n\n//var jsonString = {};\n\n//Betriebsstunden Feinstaubfilter\nif (type == 130 && ((modbusID == 5212) || (modbusID == 5213))) {\n\n//    var measurementObject = {};\n//   measurementObject.measurement = \"uhrzeit\";\n//    measurementObject.type = type.trim();\n//    measurementObject.value  = value.trim();\n//    jsonString= JSON.stringify(measurementObject);\n\n//    var newMsg = { payload: value.trim() };\n//    node.send(newMsg);\n    var newMsg = { payload: value };\n    node.send(newMsg);\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":800,"wires":[[]]},{"id":"bd77a23f.07a63","type":"function","z":"aebc585f.fa34c8","name":"Boilerfühler Wärmepumpe (214)","func":"var array = msg.payload;\n\nvar type = array[0];\nvar modbusID = array [1];\nvar value = array[2];\n\n//var jsonString = {};\n\n//Betriebsstunden Feinstaubfilter\nif (type == 140 && ((modbusID == 214) || (modbusID == 215))) {\n    \n    var temperatureValue = value.trim()/1000;\n    temperatureValue = temperatureValue.toFixed(1);\n    \n    var newMsg = { payload: temperatureValue };\n    node.send(newMsg);\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1110,"y":2020,"wires":[["20ab97ba1045dd8d"]]},{"id":"62df2cda.9c8af4","type":"function","z":"aebc585f.fa34c8","name":"Betriebsstunden Zuluftventilator (900)","func":"var array = msg.payload;\n\nvar type = array[0];\nvar modbusID = array [1];\nvar value = array[2];\n\n//var jsonString = {};\n\n//Betriebsstunden Zuluftventilator\nif (type == 130 && ((modbusID == 900) || (modbusID == 901))) {\n    \n    var betriebsstunden = value.trim() / 60;\n    betriebsstunden = betriebsstunden.toFixed(0);\n    \n    var newMsg = { payload: betriebsstunden };\n    node.send(newMsg);\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1130,"y":480,"wires":[[]]},{"id":"9b00d4fe.8d0a2","type":"comment","z":"aebc585f.fa34c8","name":"Lüftungsanlage LU = 130","info":"Lüftungsanlage LU = 130","x":1090,"y":260,"wires":[]},{"id":"be3233b8.03b48","type":"comment","z":"aebc585f.fa34c8","name":"Wärmepumpe WP = 140","info":"Wärmepumpe WP = 140","x":1090,"y":1080,"wires":[]},{"id":"a4973738.f0cee","type":"comment","z":"aebc585f.fa34c8","name":"Sonstiges  = 120","info":"Sonstiges  = 120","x":1060,"y":20,"wires":[]},{"id":"c2f11b62.22619","type":"function","z":"aebc585f.fa34c8","name":"Aktuelle Innentemperatur (200)","func":"var array = msg.payload;\n\nvar type = array[0];\nvar modbusID = array [1];\nvar value = array[2];\n\n//var jsonString = {};\n\n//Aktuelle Innentemperatur \nif (type == 130 && ((modbusID == 200) || (modbusID == 201)) ) {\n    \n    var temperatureValue = value.trim()/1000;\n    temperatureValue = temperatureValue.toFixed(1);\n       \n    var newMsg = { payload: temperatureValue };\n    node.send(newMsg);\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1110,"y":60,"wires":[["82a23c4841f1c442"]]},{"id":"9230edda.55fb7","type":"function","z":"aebc585f.fa34c8","name":"Status Wärmepumpe (1314)","func":"var array = msg.payload;\n\nvar type = array[0];\nvar modbusID = array [1];\nvar value = array[2];\n\nvar states = [\"Wiedereinschaltsperre\", \"Wärmepumpe aus\", \"Vorlaufzeit Solepumpe\", \"Vorlaufzeit Ventilatoren\", \"Öffnen Heissgasventil\", \"Öffnen Flüssiggasventil\", \"Start Kompressor\", \"Mindestlaufzeit Wärmepumpe\", \"Wärmepumpe ein\", \"Kältemittle absaugen\", \"Beim Abtauen absaugen\", \"Abtauen ein\", \"Nach Abtauen abtropfen\"];\n\n//var jsonString = {};\n\n//Status Wärmepumpe Restzeit\nif (type == 140 && ((modbusID == 1314) || (modbusID == 1315))) {\n    \n    //var measurementObject = {};\n    //measurementObject.measurement = \"statuswaermepumpe\";\n    //measurementObject.type = type.trim();\n    //measurementObject.value  = value.trim();\n    //jsonString= JSON.stringify(measurementObject);\n    \n    var option = states[value.trim()]\n    //var newMsg = { payload: value.trim() };\n    var newMsg = { payload: option };\n    node.send(newMsg);\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":2140,"wires":[["20b50deae1918ae4"]]},{"id":"5d76c33a.76dd64","type":"function","z":"aebc585f.fa34c8","name":"Temperatur Sole nach Außenluftvorwärmung (206)","func":"var array = msg.payload;\n\nvar type = array[0];\nvar modbusID = array [1];\nvar value = array[2];\n\n//var jsonString = {};\n\nif (type == 130 && ((modbusID == 206) || (modbusID == 207))) {\n    \n    var temperatureValue = value.trim() / 1000;\n    temperatureValue = temperatureValue.toFixed(1);\n    \n    var newMsg = { payload: temperatureValue };\n    node.send(newMsg);\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1170,"y":900,"wires":[[]]},{"id":"e63321e9.b030d","type":"function","z":"aebc585f.fa34c8","name":"Betriebsstunden Abluftventilator (902)","func":"var array = msg.payload;\n\nvar type = array[0];\nvar modbusID = array [1];\nvar value = array[2];\n\n//var jsonString = {};\n\nif (type == 130 && ((modbusID == 902) || (modbusID == 903))) {\n    \n    var betriebsstunden = value.trim() / 60;\n    betriebsstunden = betriebsstunden.toFixed(0);\n\n    var newMsg = { payload: betriebsstunden };\n    node.send(newMsg);\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1130,"y":940,"wires":[[]]},{"id":"35081612.fb0282","type":"function","z":"aebc585f.fa34c8","name":"Vorlauf Niedertemperatur-Heizkreis (240)","func":"var array = msg.payload;\n\nvar type = array[0];\nvar modbusID = array [1];\nvar value = array[2];\n\n//var jsonString = {};\n\n//Status Wärmepumpe Restzeit\nif (type == 140 && ((modbusID == 240) || (modbusID == 241))) {\n    \n    var temperatureValue = value.trim() / 1000;\n    temperatureValue = temperatureValue.toFixed(1);\n\n    var newMsg = { payload: temperatureValue };\n    node.send(newMsg);\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1140,"y":2400,"wires":[["cf55a0edc88a47ea"]]},{"id":"7eedf8f6.aa9698","type":"function","z":"aebc585f.fa34c8","name":"Wärmepumpe Summenstörung (800)","func":"var array = msg.payload;\n\nvar type = array[0];\nvar modbusID = array [1];\nvar value = array[2];\n\n//var jsonString = {};\n\n//Summenstörung\nif (type == 140 && ((modbusID == 800) || (modbusID == 801))) {\n    \n    //var measurementObject = {};\n    //measurementObject.measurement = \"wpsummenstoerung\";\n    //measurementObject.type = type.trim();\n    //measurementObject.value  = value.trim();\n    //jsonString= JSON.stringify(measurementObject);\n    \n    var newMsg = { payload: value.trim() };\n    node.send(newMsg);\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1130,"y":2440,"wires":[[]]},{"id":"4c67f873.950428","type":"function","z":"aebc585f.fa34c8","name":"Wärmepumpe (1044)","func":"var array = msg.payload;\n\nvar type = array[0];\nvar modbusID = array [1];\nvar value = array[2];\n\n//var jsonString = {};\n\n//Summenstörung\nif (type == 140 && ((modbusID == 1044) || (modbusID == 1045))) {\n    \n    //var measurementObject = {};\n    //measurementObject.measurement = \"betriebsart\";\n    //measurementObject.type = type.trim();\n    //measurementObject.value  = value.trim();\n    //jsonString= JSON.stringify(measurementObject);\n    \n    var newMsg = { payload: value.trim() };\n    node.send(newMsg);\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":2480,"wires":[["f457463081d080ee"]]},{"id":"2a59801e.2ba6f8","type":"function","z":"aebc585f.fa34c8","name":"Gesamt beförderte Kubikmeter (946)","func":"var array = msg.payload;\n\nvar type = array[0];\nvar modbusID = array [1];\nvar value = array[2];\n\n//var jsonString = {};\n\nif (type == 130 && ((modbusID == 946) || (modbusID == 947))) {\n    \n    //var measurementObject = {};\n    //measurementObject.measurement = \"gesamtbefoerdertekubikmeter\";\n    //measurementObject.type = type.trim();\n    //measurementObject.value  = value.trim();\n    //jsonString= JSON.stringify(measurementObject);\n    \n    var newMsg = { payload: value.trim() };\n    node.send(newMsg);\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1130,"y":980,"wires":[["72cb3a52b83b103d"]]},{"id":"4a647778.632a","type":"function","z":"aebc585f.fa34c8","name":"Status Revisionstür (226)","func":"var array = msg.payload;\n\nvar type = array[0];\nvar modbusID = array [1];\nvar value = array[2];\n\n//var jsonString = {};\n\n//Summenstörung\nif (type == 130 && ((modbusID == 226) || (modbusID == 227))) {\n    \n    //var measurementObject = {};\n    //measurementObject.measurement = \"betriebsart\";\n    //measurementObject.type = type.trim();\n    //measurementObject.value  = value.trim();\n    //jsonString= JSON.stringify(measurementObject);\n    \n    var newMsg = { payload: value.trim() };\n    node.send(newMsg);\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1090,"y":2560,"wires":[["10190b9d24fbb181"]]},{"id":"4e0ff462d33a94cf","type":"debug","z":"aebc585f.fa34c8","name":"Serial In","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":440,"y":940,"wires":[]},{"id":"82a23c4841f1c442","type":"api-call-service","z":"aebc585f.fa34c8","name":"","server":"afb1d16.b1a413","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.lu_raum_rw"],"data":"{\"value\" : {{ payload }} }\t","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1490,"y":60,"wires":[[]]},{"id":"10c4f5b6ed19945f","type":"api-call-service","z":"aebc585f.fa34c8","name":"","server":"afb1d16.b1a413","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.lu_aktive_luefterstufe"],"data":"{\"value\" : {{ payload }} }\t","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1490,"y":100,"wires":[[]]},{"id":"56291e369b028fe8","type":"api-call-service","z":"aebc585f.fa34c8","name":"","server":"afb1d16.b1a413","version":5,"debugenabled":false,"domain":"input_select","service":"select_option","areaId":[],"deviceId":[],"entityId":["input_select.lu_betriebsart_rw"],"data":"{\"option\" : \"{{ payload }}\" }\t","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1490,"y":180,"wires":[[]]},{"id":"50156e5732f1191a","type":"api-call-service","z":"aebc585f.fa34c8","name":"","server":"afb1d16.b1a413","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.lu_raumsoll_rw"],"data":"{\"value\" : {{ payload }} }\t","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1490,"y":220,"wires":[[]]},{"id":"940df481ad91e942","type":"function","z":"aebc585f.fa34c8","name":"Feinstaubfilter wechseln! (7004)","func":"var array = msg.payload;\n\nvar type = array[0];\nvar modbusID = array [1];\nvar value = array[2];\n\n//var jsonString = {};\n\n//Summenstörung\nif (type == 130 && ((modbusID == 7004) || (modbusID == 7005))) {\n    \n    //var measurementObject = {};\n    //measurementObject.measurement = \"betriebsart\";\n    //measurementObject.type = type.trim();\n    //measurementObject.value  = value.trim();\n    //jsonString= JSON.stringify(measurementObject);\n    \n    var newMsg = { payload: value.trim() };\n    node.send(newMsg);\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1110,"y":360,"wires":[["a6e870204c17cb84"]]},{"id":"8f42a1cc31c4fad3","type":"api-call-service","z":"aebc585f.fa34c8","name":"","server":"afb1d16.b1a413","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.lu_feinstaubfilterwechseln_r"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1520,"y":340,"wires":[[]]},{"id":"8432e8baa1855735","type":"function","z":"aebc585f.fa34c8","name":"Sole (216)","func":"var array = msg.payload;\n\nvar type = array[0];\nvar modbusID = array [1];\nvar value = array[2];\n\n//var jsonString = {};\n\n//Temperatur Raum Soll\nif (type == 130 && ((modbusID == 216) || (modbusID == 217))) {\n        \n    var temperatureValue = value.trim()/1000;\n    temperatureValue = temperatureValue.toFixed(1);\n\n    var newMsg = { payload: temperatureValue };\n    node.send(newMsg);\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":840,"wires":[["cfd123efb9509669"]]},{"id":"cfd123efb9509669","type":"api-call-service","z":"aebc585f.fa34c8","name":"","server":"afb1d16.b1a413","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.lu_sole_r"],"data":"{\"value\" : {{ payload }} }\t","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1490,"y":840,"wires":[[]]},{"id":"455b86e735f1f01f","type":"api-call-service","z":"aebc585f.fa34c8","name":"","server":"afb1d16.b1a413","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.lu_betriebsstd_feinstaubfilter_r"],"data":"{\"value\" : {{ payload }} }\t","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1490,"y":520,"wires":[[]]},{"id":"7340a63c2e94cc4a","type":"function","z":"aebc585f.fa34c8","name":"Betriebsstunden Grobstaubfilter (926)","func":"var array = msg.payload;\n\nvar type = array[0];\nvar modbusID = array [1];\nvar value = array[2];\n\n//var jsonString = {};\n\n//Betriebsstunden Feinstaubfilter\nif (type == 130 && ((modbusID == 926) || (modbusID == 927))) {\n    \n    var betriebsstunden = value.trim() / 60;\n    betriebsstunden = betriebsstunden.toFixed(0);\n\n    var newMsg = { payload: betriebsstunden };\n    node.send(newMsg);\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1130,"y":560,"wires":[["3b0a45787c530148"]]},{"id":"3b0a45787c530148","type":"api-call-service","z":"aebc585f.fa34c8","name":"","server":"afb1d16.b1a413","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.lu_betriebsstd_grobstaubfilter_r"],"data":"{\"value\" : {{ payload }} }\t","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1490,"y":560,"wires":[[]]},{"id":"5f8ed0f8c69e2d38","type":"function","z":"aebc585f.fa34c8","name":"Betriebsstunden: Heizung (938)","func":"var array = msg.payload;\n\nvar type = array[0];\nvar modbusID = array [1];\nvar value = array[2];\n\n//var jsonString = {};\n\n//Betriebsstunden Feinstaubfilter\nif (type == 130 && ((modbusID == 938) || (modbusID == 939))) {\n    \n    var betriebsstunden = value.trim() / 60;\n    betriebsstunden = betriebsstunden.toFixed(0);\n\n    var newMsg = { payload: betriebsstunden };\n    node.send(newMsg);\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1110,"y":600,"wires":[["21dd978d38b759c7"]]},{"id":"21dd978d38b759c7","type":"api-call-service","z":"aebc585f.fa34c8","name":"","server":"afb1d16.b1a413","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.lu_betriebsstd_heizung_r"],"data":"{\"value\" : {{ payload }} }\t","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1490,"y":600,"wires":[[]]},{"id":"74c3c4248eb8ea19","type":"function","z":"aebc585f.fa34c8","name":"Betriebsstunden: Heizstufe1 (912)","func":"var array = msg.payload;\n\nvar type = array[0];\nvar modbusID = array [1];\nvar value = array[2];\n\n//var jsonString = {};\n\n//Betriebsstunden Feinstaubfilter\nif (type == 130 && ((modbusID == 912) || (modbusID == 913))) {\n    \n    var betriebsstunden = value.trim() / 60;\n    betriebsstunden = betriebsstunden.toFixed(0);\n\n    var newMsg = { payload: betriebsstunden };\n    node.send(newMsg);\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1120,"y":640,"wires":[["e7cee13138ccb513"]]},{"id":"e7cee13138ccb513","type":"api-call-service","z":"aebc585f.fa34c8","name":"","server":"afb1d16.b1a413","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.lu_betriebsstd_heizstufe1_r"],"data":"{\"value\" : {{ payload }} }\t","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1490,"y":640,"wires":[[]]},{"id":"dba0562a84885308","type":"function","z":"aebc585f.fa34c8","name":"Betriebsstunden: Heizstufe2 (914)","func":"var array = msg.payload;\n\nvar type = array[0];\nvar modbusID = array [1];\nvar value = array[2];\n\n//var jsonString = {};\n\n//Betriebsstunden Feinstaubfilter\nif (type == 130 && ((modbusID == 914) || (modbusID == 915))) {\n    \n    var betriebsstunden = value.trim() / 60;\n    betriebsstunden = betriebsstunden.toFixed(0);\n\n    var newMsg = { payload: betriebsstunden };\n    node.send(newMsg);\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1120,"y":680,"wires":[["dd630c297725a712"]]},{"id":"dd630c297725a712","type":"api-call-service","z":"aebc585f.fa34c8","name":"","server":"afb1d16.b1a413","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.lu_betriebsstd_heizstufe2_r"],"data":"{\"value\" : {{ payload }} }\t","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1490,"y":680,"wires":[[]]},{"id":"72cb3a52b83b103d","type":"api-call-service","z":"aebc585f.fa34c8","name":"","server":"afb1d16.b1a413","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.lu_gesamt_befoerderte_m3_r"],"data":"{\"value\" : {{ payload }} }\t","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1490,"y":980,"wires":[[]]},{"id":"53679787985b809c","type":"function","z":"aebc585f.fa34c8","name":"Gesamt befoerderte Luftmenge seit Filterwechsel (960)","func":"var array = msg.payload;\n\nvar type = array[0];\nvar modbusID = array [1];\nvar value = array[2];\n\n//var jsonString = {};\n\nif (type == 130 && ((modbusID == 960) || (modbusID == 961))) {\n    \n    //var measurementObject = {};\n    //measurementObject.measurement = \"gesamtbefoerdertekubikmeter\";\n    //measurementObject.type = type.trim();\n    //measurementObject.value  = value.trim();\n    //jsonString= JSON.stringify(measurementObject);\n    \n    var newMsg = { payload: value.trim() };\n    node.send(newMsg);\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1180,"y":1020,"wires":[["4b83d3474c05ce7f"]]},{"id":"4b83d3474c05ce7f","type":"api-call-service","z":"aebc585f.fa34c8","name":"","server":"afb1d16.b1a413","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.lu_gesamt_befoerderte_luftmenge_seit_filterwechsel_r"],"data":"{\"value\" : {{ payload }} }\t","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1550,"y":1020,"wires":[[]]},{"id":"b95d1935a41c2114","type":"function","z":"aebc585f.fa34c8","name":"Anforderung: Brauchwasserheizung Waermepumpe (1036)","func":"var array = msg.payload;\n\nvar type = array[0];\nvar modbusID = array [1];\nvar value = array[2];\n\n//var jsonString = {};\n\n//Summenstörung\nif (type == 140 && ((modbusID == 1036) || (modbusID == 1037))) {\n    \n    //var measurementObject = {};\n    //measurementObject.measurement = \"betriebsart\";\n    //measurementObject.type = type.trim();\n    //measurementObject.value  = value.trim();\n    //jsonString= JSON.stringify(measurementObject);\n    \n    var newMsg = { payload: value.trim() };\n    node.send(newMsg);\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1200,"y":1140,"wires":[["fc4b9076aeee2d43"]]},{"id":"a6e870204c17cb84","type":"switch","z":"aebc585f.fa34c8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1330,"y":360,"wires":[["8f42a1cc31c4fad3"],["36b1fdbde0103a6d"]]},{"id":"36b1fdbde0103a6d","type":"api-call-service","z":"aebc585f.fa34c8","name":"","server":"afb1d16.b1a413","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.lu_feinstaubfilterwechseln_r"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1520,"y":380,"wires":[[]]},{"id":"efd768b1ce33e76c","type":"api-call-service","z":"aebc585f.fa34c8","name":"","server":"afb1d16.b1a413","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.wp_anforderung_brauchwasserheizung_waermepumpe_r"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1720,"y":1120,"wires":[[]]},{"id":"fc4b9076aeee2d43","type":"switch","z":"aebc585f.fa34c8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1530,"y":1140,"wires":[["efd768b1ce33e76c"],["a5f51ccf6b16dd32"]]},{"id":"a5f51ccf6b16dd32","type":"api-call-service","z":"aebc585f.fa34c8","name":"","server":"afb1d16.b1a413","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.wp_anforderung_brauchwasserheizung_waermepumpe_r"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1720,"y":1160,"wires":[[]]},{"id":"f8ef8c60d1251405","type":"function","z":"aebc585f.fa34c8","name":"Anforderung: Passive Kuehlung (1142)","func":"var array = msg.payload;\n\nvar type = array[0];\nvar modbusID = array [1];\nvar value = array[2];\n\n//var jsonString = {};\n\n//Summenstörung\nif (type == 140 && ((modbusID == 1142) || (modbusID == 1143))) {\n    \n    //var measurementObject = {};\n    //measurementObject.measurement = \"betriebsart\";\n    //measurementObject.type = type.trim();\n    //measurementObject.value  = value.trim();\n    //jsonString= JSON.stringify(measurementObject);\n    \n    var newMsg = { payload: value.trim() };\n    node.send(newMsg);\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1130,"y":1220,"wires":[["f320c2e0fba3eaad"]]},{"id":"fb9c74c3fc3e30ca","type":"api-call-service","z":"aebc585f.fa34c8","name":"","server":"afb1d16.b1a413","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.wp_anforderung_passive_kuehlung_r"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1720,"y":1200,"wires":[[]]},{"id":"f320c2e0fba3eaad","type":"switch","z":"aebc585f.fa34c8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1530,"y":1220,"wires":[["fb9c74c3fc3e30ca"],["aca2c3808807e396"]]},{"id":"aca2c3808807e396","type":"api-call-service","z":"aebc585f.fa34c8","name":"","server":"afb1d16.b1a413","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.wp_anforderung_passive_kuehlung_r"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1720,"y":1240,"wires":[[]]},{"id":"b679032eb81fdbcb","type":"function","z":"aebc585f.fa34c8","name":"Anforderung: Raum-Heizstufe 1 (1032)","func":"var array = msg.payload;\n\nvar type = array[0];\nvar modbusID = array [1];\nvar value = array[2];\n\n//var jsonString = {};\n\n//Summenstörung\nif (type == 140 && ((modbusID == 1032) || (modbusID == 1033))) {\n    \n    //var measurementObject = {};\n    //measurementObject.measurement = \"betriebsart\";\n    //measurementObject.type = type.trim();\n    //measurementObject.value  = value.trim();\n    //jsonString= JSON.stringify(measurementObject);\n    \n    var newMsg = { payload: value.trim() };\n    node.send(newMsg);\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1130,"y":1300,"wires":[["5b19ccd3c4d91e8c"]]},{"id":"ac8d40ef67f4bb2d","type":"api-call-service","z":"aebc585f.fa34c8","name":"","server":"afb1d16.b1a413","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.wp_anforderung_raumheizstufe_1_r"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1720,"y":1280,"wires":[[]]},{"id":"5b19ccd3c4d91e8c","type":"switch","z":"aebc585f.fa34c8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1530,"y":1300,"wires":[["ac8d40ef67f4bb2d"],["71dfb36a3c27753a"]]},{"id":"71dfb36a3c27753a","type":"api-call-service","z":"aebc585f.fa34c8","name":"","server":"afb1d16.b1a413","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.wp_anforderung_raumheizstufe_1_r"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1720,"y":1320,"wires":[[]]},{"id":"c21db1d0ee601ac7","type":"function","z":"aebc585f.fa34c8","name":"Anforderung: Raum-Heizstufe 2 (1034)","func":"var array = msg.payload;\n\nvar type = array[0];\nvar modbusID = array [1];\nvar value = array[2];\n\n//var jsonString = {};\n\n//Summenstörung\nif (type == 140 && ((modbusID == 1034) || (modbusID == 1035))) {\n    \n    //var measurementObject = {};\n    //measurementObject.measurement = \"betriebsart\";\n    //measurementObject.type = type.trim();\n    //measurementObject.value  = value.trim();\n    //jsonString= JSON.stringify(measurementObject);\n    \n    var newMsg = { payload: value.trim() };\n    node.send(newMsg);\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1130,"y":1380,"wires":[["8492858ed2f6242f"]]},{"id":"a6fcf39b1630f235","type":"api-call-service","z":"aebc585f.fa34c8","name":"","server":"afb1d16.b1a413","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.wp_anforderung_raumheizstufe_2_r"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1720,"y":1360,"wires":[[]]},{"id":"8492858ed2f6242f","type":"switch","z":"aebc585f.fa34c8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1530,"y":1380,"wires":[["a6fcf39b1630f235"],["deb6b262ac2fc11b"]]},{"id":"deb6b262ac2fc11b","type":"api-call-service","z":"aebc585f.fa34c8","name":"","server":"afb1d16.b1a413","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.wp_anforderung_raumheizstufe_2_r"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1720,"y":1400,"wires":[[]]},{"id":"ec537398b9c5e6b5","type":"function","z":"aebc585f.fa34c8","name":"Anforderung: Solaranlage (1140)","func":"var array = msg.payload;\n\nvar type = array[0];\nvar modbusID = array [1];\nvar value = array[2];\n\n//var jsonString = {};\n\n//Summenstörung\nif (type == 140 && ((modbusID == 1140) || (modbusID == 1141))) {\n    \n    //var measurementObject = {};\n    //measurementObject.measurement = \"betriebsart\";\n    //measurementObject.type = type.trim();\n    //measurementObject.value  = value.trim();\n    //jsonString= JSON.stringify(measurementObject);\n    \n    var newMsg = { payload: value.trim() };\n    node.send(newMsg);\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1110,"y":1460,"wires":[["7ee7c5bd7270ed58"]]},{"id":"72779bcfb2eee130","type":"api-call-service","z":"aebc585f.fa34c8","name":"","server":"afb1d16.b1a413","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.wp_anforderung_solaranlage_r"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1720,"y":1440,"wires":[[]]},{"id":"7ee7c5bd7270ed58","type":"switch","z":"aebc585f.fa34c8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1530,"y":1460,"wires":[["72779bcfb2eee130"],["75aeb102d7e1dfcc"]]},{"id":"75aeb102d7e1dfcc","type":"api-call-service","z":"aebc585f.fa34c8","name":"","server":"afb1d16.b1a413","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.wp_anforderung_solaranlage_r"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1720,"y":1480,"wires":[[]]},{"id":"79c609ae31a60fde","type":"function","z":"aebc585f.fa34c8","name":"Anforderung: Sole Kuehlung (1320)","func":"var array = msg.payload;\n\nvar type = array[0];\nvar modbusID = array [1];\nvar value = array[2];\n\n//var jsonString = {};\n\n//Summenstörung\nif (type == 140 && ((modbusID == 1320) || (modbusID == 1321))) {\n    \n    //var measurementObject = {};\n    //measurementObject.measurement = \"betriebsart\";\n    //measurementObject.type = type.trim();\n    //measurementObject.value  = value.trim();\n    //jsonString= JSON.stringify(measurementObject);\n    \n    var newMsg = { payload: value.trim() };\n    node.send(newMsg);\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1120,"y":1540,"wires":[["b9deb4fe3d18a7b9"]]},{"id":"59cd47075d11cd10","type":"api-call-service","z":"aebc585f.fa34c8","name":"","server":"afb1d16.b1a413","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.wp_anforderung_sole_kuehlung_r"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1720,"y":1520,"wires":[[]]},{"id":"b9deb4fe3d18a7b9","type":"switch","z":"aebc585f.fa34c8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1530,"y":1540,"wires":[["59cd47075d11cd10"],["85ace1ac5c11c795"]]},{"id":"85ace1ac5c11c795","type":"api-call-service","z":"aebc585f.fa34c8","name":"","server":"afb1d16.b1a413","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.wp_anforderung_sole_kuehlung_r"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1720,"y":1560,"wires":[[]]},{"id":"d5ca4b847b3bcd41","type":"function","z":"aebc585f.fa34c8","name":"Anforderung: Sole Waermepumpe (1196)","func":"var array = msg.payload;\n\nvar type = array[0];\nvar modbusID = array [1];\nvar value = array[2];\n\n//var jsonString = {};\n\n//Summenstörung\nif (type == 140 && ((modbusID == 1196) || (modbusID == 1197))) {\n    \n    //var measurementObject = {};\n    //measurementObject.measurement = \"betriebsart\";\n    //measurementObject.type = type.trim();\n    //measurementObject.value  = value.trim();\n    //jsonString= JSON.stringify(measurementObject);\n    \n    var newMsg = { payload: value.trim() };\n    node.send(newMsg);\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1140,"y":1620,"wires":[["29ce0cb4be30b7fc"]]},{"id":"deb5c1b0bbb4a853","type":"api-call-service","z":"aebc585f.fa34c8","name":"","server":"afb1d16.b1a413","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.wp_anforderung_sole_waermepumpe_r"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1720,"y":1600,"wires":[[]]},{"id":"29ce0cb4be30b7fc","type":"switch","z":"aebc585f.fa34c8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1530,"y":1620,"wires":[["deb5c1b0bbb4a853"],["2fe2011418a0cdb5"]]},{"id":"2fe2011418a0cdb5","type":"api-call-service","z":"aebc585f.fa34c8","name":"","server":"afb1d16.b1a413","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.wp_anforderung_sole_waermepumpe_r"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1720,"y":1640,"wires":[[]]},{"id":"5c3cbb50775d5621","type":"function","z":"aebc585f.fa34c8","name":"Hochdruck Waermepumpe (222)","func":"var array = msg.payload;\n\nvar type = array[0];\nvar modbusID = array [1];\nvar value = array[2];\n\n//var jsonString = {};\n\n//Summenstörung\nif (type == 140 && ((modbusID == 222) || (modbusID == 223))) {\n    \n    //var measurementObject = {};\n    //measurementObject.measurement = \"betriebsart\";\n    //measurementObject.type = type.trim();\n    //measurementObject.value  = value.trim();\n    //jsonString= JSON.stringify(measurementObject);\n    \n    var newMsg = { payload: value.trim() };\n    node.send(newMsg);\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1110,"y":1700,"wires":[["e401870e788cbfdc"]]},{"id":"32930ca3509f7152","type":"api-call-service","z":"aebc585f.fa34c8","name":"","server":"afb1d16.b1a413","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.wp_hochdruck_waermepumpe_r"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1720,"y":1680,"wires":[[]]},{"id":"e401870e788cbfdc","type":"switch","z":"aebc585f.fa34c8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1530,"y":1700,"wires":[["32930ca3509f7152"],["ae207bcd32bdc953"]]},{"id":"ae207bcd32bdc953","type":"api-call-service","z":"aebc585f.fa34c8","name":"","server":"afb1d16.b1a413","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.wp_hochdruck_waermepumpe_r"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1720,"y":1720,"wires":[[]]},{"id":"0f3e19a3694d40da","type":"function","z":"aebc585f.fa34c8","name":"Kuehlung vorhanden? (5192)","func":"var array = msg.payload;\n\nvar type = array[0];\nvar modbusID = array [1];\nvar value = array[2];\n\n//var jsonString = {};\n\n//Summenstörung\nif (type == 140 && ((modbusID == 5192) || (modbusID == 5193))) {\n    \n    //var measurementObject = {};\n    //measurementObject.measurement = \"betriebsart\";\n    //measurementObject.type = type.trim();\n    //measurementObject.value  = value.trim();\n    //jsonString= JSON.stringify(measurementObject);\n    \n    var newMsg = { payload: value.trim() };\n    node.send(newMsg);\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":1780,"wires":[["fa2d4ea6fd13e6ac"]]},{"id":"fcc5f954c941a90b","type":"api-call-service","z":"aebc585f.fa34c8","name":"","server":"afb1d16.b1a413","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.wp_kuehlung_vorhanden_r"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1720,"y":1760,"wires":[[]]},{"id":"fa2d4ea6fd13e6ac","type":"switch","z":"aebc585f.fa34c8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1530,"y":1780,"wires":[["fcc5f954c941a90b"],["d472aebb7e88dfb6"]]},{"id":"d472aebb7e88dfb6","type":"api-call-service","z":"aebc585f.fa34c8","name":"","server":"afb1d16.b1a413","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.wp_kuehlung_vorhanden_r"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1720,"y":1800,"wires":[[]]},{"id":"3ebe2819e4496ef9","type":"function","z":"aebc585f.fa34c8","name":"Niederdruck Waermepumpe (224)","func":"var array = msg.payload;\n\nvar type = array[0];\nvar modbusID = array [1];\nvar value = array[2];\n\n//var jsonString = {};\n\n//Summenstörung\nif (type == 140 && ((modbusID == 224) || (modbusID == 225))) {\n    \n    //var measurementObject = {};\n    //measurementObject.measurement = \"betriebsart\";\n    //measurementObject.type = type.trim();\n    //measurementObject.value  = value.trim();\n    //jsonString= JSON.stringify(measurementObject);\n    \n    var newMsg = { payload: value.trim() };\n    node.send(newMsg);\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1120,"y":1860,"wires":[["f60f8ff845edf0ee"]]},{"id":"32e7793eddef8561","type":"api-call-service","z":"aebc585f.fa34c8","name":"","server":"afb1d16.b1a413","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.wp_niederdruck_waermepumpe_r"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1720,"y":1840,"wires":[[]]},{"id":"f60f8ff845edf0ee","type":"switch","z":"aebc585f.fa34c8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1530,"y":1860,"wires":[["32e7793eddef8561"],["88e3a322181c9da2"]]},{"id":"88e3a322181c9da2","type":"api-call-service","z":"aebc585f.fa34c8","name":"","server":"afb1d16.b1a413","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.wp_niederdruck_waermepumpe_r"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1720,"y":1880,"wires":[[]]},{"id":"9e960cf19544da24","type":"function","z":"aebc585f.fa34c8","name":"Solaranlage vorhanden? (5190)","func":"var array = msg.payload;\n\nvar type = array[0];\nvar modbusID = array [1];\nvar value = array[2];\n\n//var jsonString = {};\n\n//Summenstörung\nif (type == 140 && ((modbusID == 5190) || (modbusID == 5191))) {\n    \n    //var measurementObject = {};\n    //measurementObject.measurement = \"betriebsart\";\n    //measurementObject.type = type.trim();\n    //measurementObject.value  = value.trim();\n    //jsonString= JSON.stringify(measurementObject);\n    \n    var newMsg = { payload: value.trim() };\n    node.send(newMsg);\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1110,"y":1940,"wires":[["a50ab0c794a0274e"]]},{"id":"58ac98584e7297db","type":"api-call-service","z":"aebc585f.fa34c8","name":"","server":"afb1d16.b1a413","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.wp_solaranlage_vorhanden_r"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1720,"y":1920,"wires":[[]]},{"id":"a50ab0c794a0274e","type":"switch","z":"aebc585f.fa34c8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1530,"y":1940,"wires":[["58ac98584e7297db"],["9d15c93307b1a517"]]},{"id":"9d15c93307b1a517","type":"api-call-service","z":"aebc585f.fa34c8","name":"","server":"afb1d16.b1a413","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.wp_solaranlage_vorhanden_r"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1720,"y":1960,"wires":[[]]},{"id":"20ab97ba1045dd8d","type":"api-call-service","z":"aebc585f.fa34c8","name":"","server":"afb1d16.b1a413","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.wp_boilerfuehler_wp_r"],"data":"{\"value\" : {{ payload }} }\t","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1610,"y":2020,"wires":[[]]},{"id":"e71f6613b66d939f","type":"api-call-service","z":"aebc585f.fa34c8","name":"","server":"afb1d16.b1a413","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.wp_status_waermepumpe_restzeit_r"],"data":"{\"value\" : {{ payload }} }\t","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1610,"y":2060,"wires":[[]]},{"id":"20b50deae1918ae4","type":"api-call-service","z":"aebc585f.fa34c8","name":"","server":"afb1d16.b1a413","version":5,"debugenabled":false,"domain":"input_select","service":"select_option","areaId":[],"deviceId":[],"entityId":["input_select.wp_status_wp_r"],"data":"{ \"option\" : \"{{payload}}\"  }","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1610,"y":2140,"wires":[[]]},{"id":"29a95080336efddf","type":"function","z":"aebc585f.fa34c8","name":"Ausschaltpunkt (Hysterese) Raum-Heizstufe 2 (5382)","func":"var array = msg.payload;\n\nvar type = array[0];\nvar modbusID = array [1];\nvar value = array[2];\n\n//var jsonString = {};\n\n//Betriebsstunden Feinstaubfilter\nif (type == 140 && ((modbusID == 5382) || (modbusID == 5383))) {\n\n    var temperatureValue = value.trim()/1000;\n    \n    var newMsg = { payload: temperatureValue };\n    node.send(newMsg);\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1180,"y":2180,"wires":[["36e335efc4542c84"]]},{"id":"36e335efc4542c84","type":"api-call-service","z":"aebc585f.fa34c8","name":"","server":"afb1d16.b1a413","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.wp_ausschaltpkt_hys_raumheizstufe_2_rw"],"data":"{\"value\" : {{ payload }} }\t","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1610,"y":2180,"wires":[[]]},{"id":"ef1b829801bb5308","type":"function","z":"aebc585f.fa34c8","name":"Ausschaltpunkt (Hysterese) Raum-Heizstufe 1 (5378)","func":"var array = msg.payload;\n\nvar type = array[0];\nvar modbusID = array [1];\nvar value = array[2];\n\n//var jsonString = {};\n\n//Betriebsstunden Feinstaubfilter\nif (type == 140 && ((modbusID == 5378) || (modbusID == 5379))) {\n\n    var temperatureValue = value.trim() / 1000;\n\n    var newMsg = { payload: temperatureValue };\n    node.send(newMsg);\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1180,"y":2220,"wires":[["3c38b63f8076a16e"]]},{"id":"3c38b63f8076a16e","type":"api-call-service","z":"aebc585f.fa34c8","name":"","server":"afb1d16.b1a413","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.wp_ausschaltpkt_hys_raumheizstufe_1_rw"],"data":"{\"value\" : {{ payload }} }\t","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1610,"y":2220,"wires":[[]]},{"id":"8d846f3ec523851c","type":"function","z":"aebc585f.fa34c8","name":"Aussenluft (202)","func":"var array = msg.payload;\n\nvar type = array[0];\nvar modbusID = array [1];\nvar value = array[2];\n\n//var jsonString = {};\n\n//Betriebsstunden Feinstaubfilter\nif (type == 140 && ((modbusID == 202) || (modbusID == 203))) {\n    \n    var temperatureValue = value.trim() / 1000;\n    temperatureValue = temperatureValue.toFixed(1);\n   \n    var newMsg = { payload: temperatureValue };\n    node.send(newMsg);\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":2260,"wires":[["6341c8b67c9551e4"]]},{"id":"6341c8b67c9551e4","type":"api-call-service","z":"aebc585f.fa34c8","name":"","server":"afb1d16.b1a413","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.wp_aussenluft_r"],"data":"{\"value\" : {{ payload }} }\t","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1610,"y":2260,"wires":[[]]},{"id":"fecaf791ef4e8252","type":"function","z":"aebc585f.fa34c8","name":"Aussenluft Boiler (212)","func":"var array = msg.payload;\n\nvar type = array[0];\nvar modbusID = array [1];\nvar value = array[2];\n\n//var jsonString = {};\n\n//Betriebsstunden Feinstaubfilter\nif (type == 140 && ((modbusID == 212) || (modbusID == 213))) {\n\n    var temperatureValue = value.trim() / 1000;\n    temperatureValue = temperatureValue.toFixed(1);\n    \n    var newMsg = { payload: temperatureValue };\n    node.send(newMsg);\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":2300,"wires":[["ed5635b96b1dbfdd"]]},{"id":"ed5635b96b1dbfdd","type":"api-call-service","z":"aebc585f.fa34c8","name":"","server":"afb1d16.b1a413","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.wp_boiler_r"],"data":"{\"value\" : {{ payload }} }\t","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1610,"y":2300,"wires":[[]]},{"id":"24186c0fa24ce42f","type":"function","z":"aebc585f.fa34c8","name":"Boilerfuehler Solar (244)","func":"var array = msg.payload;\n\nvar type = array[0];\nvar modbusID = array [1];\nvar value = array[2];\n\n//var jsonString = {};\n\n//Betriebsstunden Feinstaubfilter\nif (type == 140 && ((modbusID == 244) || (modbusID == 245))) {\n    \n    var temperatureValue = value.trim() / 1000;\n    temperatureValue = temperatureValue.toFixed(1);\n   \n    var newMsg = { payload: temperatureValue };\n    node.send(newMsg);\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1090,"y":2340,"wires":[["56e7240bd0e1b551"]]},{"id":"56e7240bd0e1b551","type":"api-call-service","z":"aebc585f.fa34c8","name":"","server":"afb1d16.b1a413","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.wp_boilerfuehler_solar_r"],"data":"{\"value\" : {{ payload }} }\t","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1610,"y":2340,"wires":[[]]},{"id":"99aa921cb817cad1","type":"function","z":"aebc585f.fa34c8","name":"Brauchwasser Solltemperatur (5064)","func":"var array = msg.payload;\n\nvar type = array[0];\nvar modbusID = array [1];\nvar value = array[2];\n\n//var jsonString = {};\n\n//Betriebsstunden Feinstaubfilter\nif (type == 140 && ((modbusID == 5064) || (modbusID == 5065))) {\n    \n    var temperatureValue = value.trim() / 1000;\n    temperatureValue = temperatureValue.toFixed(1);\n\n    var newMsg = { payload: temperatureValue };\n    node.send(newMsg);\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1130,"y":2620,"wires":[["1c8c6e24e79b161a"]]},{"id":"1c8c6e24e79b161a","type":"api-call-service","z":"aebc585f.fa34c8","name":"","server":"afb1d16.b1a413","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.wp_brauchwasser_solltemp_rw"],"data":"{\"value\" : {{ payload }} }\t","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1610,"y":2620,"wires":[[]]},{"id":"ae629604762e8ab7","type":"function","z":"aebc585f.fa34c8","name":"Einschaltpunkt (Hysterese) Raum-Heizstufe 1 (5376)","func":"var array = msg.payload;\n\nvar type = array[0];\nvar modbusID = array [1];\nvar value = array[2];\n\n//var jsonString = {};\n\n//Betriebsstunden Feinstaubfilter\nif (type == 140 && ((modbusID == 5376) || (modbusID == 5377))) {\n    \n    var temperatureValue = value.trim() / 1000;\n\n    var newMsg = { payload: temperatureValue };\n    node.send(newMsg);\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1180,"y":2660,"wires":[["c355a675839e2ba3"]]},{"id":"c355a675839e2ba3","type":"api-call-service","z":"aebc585f.fa34c8","name":"","server":"afb1d16.b1a413","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.wp_einschaltpkt_hys_raumheizstufe_1_rw"],"data":"{\"value\" : {{ payload }} }\t","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1610,"y":2660,"wires":[[]]},{"id":"294052859e1df57f","type":"function","z":"aebc585f.fa34c8","name":"Einschaltpunkt (Hysterese) Raum-Heizstufe 2 (5380)","func":"var array = msg.payload;\n\nvar type = array[0];\nvar modbusID = array [1];\nvar value = array[2];\n\n//var jsonString = {};\n\n//Betriebsstunden Feinstaubfilter\nif (type == 140 && ((modbusID == 5380) || (modbusID == 5381))) {\n    \n    var temperatureValue = value.trim() / 1000;\n\n    var newMsg = { payload: temperatureValue };\n    node.send(newMsg);\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1180,"y":2700,"wires":[["5a108b49bf1c7a35"]]},{"id":"5a108b49bf1c7a35","type":"api-call-service","z":"aebc585f.fa34c8","name":"","server":"afb1d16.b1a413","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.wp_einschaltpkt_hys_raumheizstufe_2_rw"],"data":"{\"value\" : {{ payload }} }\t","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1610,"y":2700,"wires":[[]]},{"id":"af27de93665b62ae","type":"function","z":"aebc585f.fa34c8","name":"Raum (200)","func":"var array = msg.payload;\n\nvar type = array[0];\nvar modbusID = array [1];\nvar value = array[2];\n\n//var jsonString = {};\n\n//Betriebsstunden Feinstaubfilter\nif (type == 140 && ((modbusID == 200) || (modbusID == 201))) {\n    \n    var temperatureValue = value.trim() / 1000;\n    temperatureValue = temperatureValue.toFixed(1);\n\n    var newMsg = { payload: temperatureValue };\n    node.send(newMsg);\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1050,"y":2740,"wires":[["26b2bdca44d73f24"]]},{"id":"26b2bdca44d73f24","type":"api-call-service","z":"aebc585f.fa34c8","name":"","server":"afb1d16.b1a413","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.wp_raum_rw"],"data":"{\"value\" : {{ payload }} }\t","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1610,"y":2740,"wires":[[]]},{"id":"990f75235bd31eea","type":"function","z":"aebc585f.fa34c8","name":"Raumtemperatur: Passive Kuehlung ein (5182)","func":"var array = msg.payload;\n\nvar type = array[0];\nvar modbusID = array [1];\nvar value = array[2];\n\n//var jsonString = {};\n\n//Betriebsstunden Feinstaubfilter\nif (type == 140 && ((modbusID == 5182) || (modbusID == 5183))) {\n    \n    var temperatureValue = value.trim() / 1000;\n\n    var newMsg = { payload: temperatureValue };\n    node.send(newMsg);\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1160,"y":2780,"wires":[["4e19a6eaba3bd174"]]},{"id":"4e19a6eaba3bd174","type":"api-call-service","z":"aebc585f.fa34c8","name":"","server":"afb1d16.b1a413","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.wp_raumtemp_passive_kuehlung_ein_rw"],"data":"{\"value\" : {{ payload }} }\t","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1610,"y":2780,"wires":[[]]},{"id":"d1806c31bb5d579e","type":"function","z":"aebc585f.fa34c8","name":"Solaranlage: Ausschaltschwelle Solarpumpe (5180)","func":"var array = msg.payload;\n\nvar type = array[0];\nvar modbusID = array [1];\nvar value = array[2];\n\n//var jsonString = {};\n\n//Betriebsstunden Feinstaubfilter\nif (type == 140 && ((modbusID == 5180) || (modbusID == 5181))) {\n    \n    var temperatureValue = value.trim() / 1000;\n\n    var newMsg = { payload: temperatureValue };\n    node.send(newMsg);\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1170,"y":2820,"wires":[["255884b4bbe4aae2"]]},{"id":"255884b4bbe4aae2","type":"api-call-service","z":"aebc585f.fa34c8","name":"","server":"afb1d16.b1a413","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.wp_solaranlage_ausschaltschw_solarpumpe_rw"],"data":"{\"value\" : {{ payload }} }\t","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1610,"y":2820,"wires":[[]]},{"id":"68fdf8b252628abf","type":"function","z":"aebc585f.fa34c8","name":"Solaranlage: Einschaltschwelle Solarpumpe (5178)","func":"var array = msg.payload;\n\nvar type = array[0];\nvar modbusID = array [1];\nvar value = array[2];\n\n//var jsonString = {};\n\n//Betriebsstunden Feinstaubfilter\nif (type == 140 && ((modbusID == 5178) || (modbusID == 5179))) {\n    \n    var temperatureValue = value.trim() / 1000;\n\n    var newMsg = { payload: temperatureValue };\n    node.send(newMsg);\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1170,"y":2860,"wires":[["ca3d6a55c24ccbe7"]]},{"id":"ca3d6a55c24ccbe7","type":"api-call-service","z":"aebc585f.fa34c8","name":"","server":"afb1d16.b1a413","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.wp_solaranlage_einschaltschw_solarpumpe_rw"],"data":"{\"value\" : {{ payload }} }\t","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1610,"y":2860,"wires":[[]]},{"id":"521b86ad2515454a","type":"function","z":"aebc585f.fa34c8","name":"Solaranlage: Maximale Ladetemperatur (5176)","func":"var array = msg.payload;\n\nvar type = array[0];\nvar modbusID = array [1];\nvar value = array[2];\n\n//var jsonString = {};\n\n//Betriebsstunden Feinstaubfilter\nif (type == 140 && ((modbusID == 5176) || (modbusID == 5177))) {\n    \n    var temperatureValue = value.trim() / 1000;\n\n    var newMsg = { payload: temperatureValue };\n    node.send(newMsg);\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1160,"y":2900,"wires":[["6d81d56b429e1a2b"]]},{"id":"6d81d56b429e1a2b","type":"api-call-service","z":"aebc585f.fa34c8","name":"","server":"afb1d16.b1a413","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.wp_solaranlage_max_ladetemp_rw"],"data":"{\"value\" : {{ payload }} }\t","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1610,"y":2900,"wires":[[]]},{"id":"1d913426d6e1f533","type":"function","z":"aebc585f.fa34c8","name":"Sole (216)","func":"var array = msg.payload;\n\nvar type = array[0];\nvar modbusID = array [1];\nvar value = array[2];\n\n//var jsonString = {};\n\n//Betriebsstunden Feinstaubfilter\nif (type == 140 && ((modbusID == 216) || (modbusID == 217))) {\n    \n    var temperatureValue = value.trim() / 1000;\n    temperatureValue = temperatureValue.toFixed(1);\n\n    var newMsg = { payload: temperatureValue };\n    node.send(newMsg);\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":2940,"wires":[["cf74623c3eb0734f"]]},{"id":"cf74623c3eb0734f","type":"api-call-service","z":"aebc585f.fa34c8","name":"","server":"afb1d16.b1a413","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.wp_sole_r"],"data":"{\"value\" : {{ payload }} }\t","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1610,"y":2940,"wires":[[]]},{"id":"f0580a4136935f5b","type":"function","z":"aebc585f.fa34c8","name":"Temperaturschwelle Aussenluft Heizen / Kuehlen (5186)","func":"var array = msg.payload;\n\nvar type = array[0];\nvar modbusID = array [1];\nvar value = array[2];\n\n//var jsonString = {};\n\n//Betriebsstunden Feinstaubfilter\nif (type == 140 && ((modbusID == 5186) || (modbusID == 5187))) {\n    \n    var temperatureValue = value.trim() / 1000;\n\n    var newMsg = { payload: temperatureValue };\n    node.send(newMsg);\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1190,"y":2980,"wires":[["68dcb67e98060e02"]]},{"id":"68dcb67e98060e02","type":"api-call-service","z":"aebc585f.fa34c8","name":"","server":"afb1d16.b1a413","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.wp_tempschw_aussenluft_heizen_kuehlen_rw"],"data":"{\"value\" : {{ payload }} }\t","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1610,"y":2980,"wires":[[]]},{"id":"cf55a0edc88a47ea","type":"api-call-service","z":"aebc585f.fa34c8","name":"","server":"afb1d16.b1a413","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.wp_vorlauf_niedertempheizkreis_r"],"data":"{\"value\" : {{ payload }} }\t","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1610,"y":2400,"wires":[[]]},{"id":"aeca6ce0a84ae457","type":"api-call-service","z":"aebc585f.fa34c8","name":"","server":"afb1d16.b1a413","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.wp_waermepumpe_r"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1620,"y":2460,"wires":[[]]},{"id":"f457463081d080ee","type":"switch","z":"aebc585f.fa34c8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1430,"y":2480,"wires":[["aeca6ce0a84ae457"],["2222a6da703da64b"]]},{"id":"2222a6da703da64b","type":"api-call-service","z":"aebc585f.fa34c8","name":"","server":"afb1d16.b1a413","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.wp_waermepumpe_r"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1620,"y":2500,"wires":[[]]},{"id":"8e5ac8b8babff54a","type":"api-call-service","z":"aebc585f.fa34c8","name":"","server":"afb1d16.b1a413","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.lu_revisionstuere_r"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1620,"y":2540,"wires":[[]]},{"id":"10190b9d24fbb181","type":"switch","z":"aebc585f.fa34c8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1430,"y":2560,"wires":[["8e5ac8b8babff54a"],["32bf70dc5de7507d"]]},{"id":"32bf70dc5de7507d","type":"api-call-service","z":"aebc585f.fa34c8","name":"","server":"afb1d16.b1a413","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.lu_revisionstuere_r"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1620,"y":2580,"wires":[[]]},{"id":"2c84df3f95ab3f0c","type":"api-call-service","z":"aebc585f.fa34c8","name":"","server":"afb1d16.b1a413","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.lu_aussenluft_r"],"data":"{\"value\" : {{ payload }} }\t","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1490,"y":440,"wires":[[]]},{"id":"49d8711750915e2b","type":"api-call-service","z":"aebc585f.fa34c8","name":"","server":"afb1d16.b1a413","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.lu_drehzahlzuluft_r"],"data":"{\"value\" : {{ payload }} }\t","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1490,"y":720,"wires":[[]]},{"id":"451fabb58478e9be","type":"api-call-service","z":"aebc585f.fa34c8","name":"","server":"afb1d16.b1a413","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.lu_drehzahlabluft_r"],"data":"{\"value\" : {{ payload }} }\t","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1490,"y":760,"wires":[[]]},{"id":"bbc9b9d51120249d","type":"function","z":"aebc585f.fa34c8","name":"Raum-Soll (5016)","func":"var array = msg.payload;\n\nvar type = array[0];\nvar modbusID = array [1];\nvar value = array[2];\n\n//var jsonString = {};\n\n//Betriebsstunden Feinstaubfilter\nif (type == 140 && ((modbusID == 5016) || (modbusID == 5017))) {\n    \n    var temperatureValue = value.trim() / 1000;\n    temperatureValue = temperatureValue.toFixed(1);\n\n    var newMsg = { payload: temperatureValue };\n    node.send(newMsg);\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1070,"y":3020,"wires":[["a75e11d9b667a13f"]]},{"id":"a75e11d9b667a13f","type":"api-call-service","z":"aebc585f.fa34c8","name":"","server":"afb1d16.b1a413","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.wp_raumsoll_rw"],"data":"{\"value\" : {{ payload }} }\t","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1610,"y":3020,"wires":[[]]},{"id":"903f9c32eea7c453","type":"function","z":"aebc585f.fa34c8","name":"Temperatur Sole: nach Aussenluftvorwaermung (206)","func":"var array = msg.payload;\n\nvar type = array[0];\nvar modbusID = array [1];\nvar value = array[2];\n\n//var jsonString = {};\n\n//Betriebsstunden Feinstaubfilter\nif (type == 140 && ((modbusID == 206) || (modbusID == 207))) {\n    \n    var temperatureValue = value.trim() / 1000;\n    temperatureValue = temperatureValue.toFixed(1);\n\n    var newMsg = { payload: temperatureValue };\n    node.send(newMsg);\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1180,"y":3060,"wires":[["b960ad85dd0b4555"]]},{"id":"b960ad85dd0b4555","type":"api-call-service","z":"aebc585f.fa34c8","name":"","server":"afb1d16.b1a413","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.wp_temp_sole_nach_aussenluftvorwaermung_r"],"data":"{\"value\" : {{ payload }} }\t","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1610,"y":3060,"wires":[[]]},{"id":"d25e73cd6aeba17b","type":"function","z":"aebc585f.fa34c8","name":"Solarkollektor (242)","func":"var array = msg.payload;\n\nvar type = array[0];\nvar modbusID = array [1];\nvar value = array[2];\n\n//var jsonString = {};\n\n//Betriebsstunden Feinstaubfilter\nif (type == 140 && ((modbusID == 242) || (modbusID == 243))) {\n    \n    var temperatureValue = value.trim() / 1000;\n    temperatureValue = temperatureValue.toFixed(1);\n\n    var newMsg = { payload: temperatureValue };\n    node.send(newMsg);\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1070,"y":3100,"wires":[["ee986e8b66b52403"]]},{"id":"ee986e8b66b52403","type":"api-call-service","z":"aebc585f.fa34c8","name":"","server":"afb1d16.b1a413","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.wp_solarkollektor_r"],"data":"{\"value\" : {{ payload }} }\t","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1610,"y":3100,"wires":[[]]},{"id":"863d755e84983e67","type":"function","z":"aebc585f.fa34c8","name":"arrange_soll_temp_cmd","func":"\n//var device = Number(global.get('homeassistant.homeAssistant.states')[\"input_number.dw_device\"].state);\n//var address = Number(global.get('homeassistant.homeAssistant.states')[\"input_number.dw_address\"].state);\n\nvar device = 120\nvar address = 5016\nvar value = Number(global.get('homeassistant.homeAssistant.states')[\"input_number.lu_raumsoll_rw\"].state * 1000);\n\nmsg.payload = String(device) +  \" \" + String(address) + \" \" + String(value);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2550,"y":960,"wires":[["bc219336f8a18b1c"]]},{"id":"bc219336f8a18b1c","type":"serial out","z":"aebc585f.fa34c8","name":"","serial":"dc5f7c5e.c7c5c8","x":3120,"y":1340,"wires":[]},{"id":"7199151e0a05e9d4","type":"ha-button","z":"aebc585f.fa34c8","name":"dw_set_soll_temp","version":0,"debugenabled":false,"outputs":1,"entityConfig":"bafd49f1ad25079c","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":2210,"y":960,"wires":[["863d755e84983e67","f2f3b4c2e1cf4d26"]]},{"id":"f2f3b4c2e1cf4d26","type":"delay","z":"aebc585f.fa34c8","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2370,"y":1000,"wires":[["863d755e84983e67"]]},{"id":"7091bd77957c15b3","type":"ha-button","z":"aebc585f.fa34c8","name":"dw_send_read_updates","version":0,"debugenabled":false,"outputs":1,"entityConfig":"fa4ef61ac29b4a09","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":2220,"y":840,"wires":[["43fb605d83cb7616"]]},{"id":"43fb605d83cb7616","type":"function","z":"aebc585f.fa34c8","name":"arrange_read_updates","func":"\nvar device = Number(global.get('homeassistant.homeAssistant.states')[\"input_number.dw_device\"].state);\nvar address = Number(global.get('homeassistant.homeAssistant.states')[\"input_number.dw_address\"].state);\nvar value = Number(global.get('homeassistant.homeAssistant.states')[\"input_number.dw_value\"].state);\n\nmsg.payload = String(device) +  \" \" + String(address);\nmsg.test = 1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2520,"y":840,"wires":[["bc219336f8a18b1c"]]},{"id":"04f461f16d42b565","type":"api-call-service","z":"aebc585f.fa34c8","name":"","server":"afb1d16.b1a413","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.lu_grobstaubfilterwechseln_r"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1800,"y":280,"wires":[[]]},{"id":"a61a20b9560b53de","type":"switch","z":"aebc585f.fa34c8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1610,"y":300,"wires":[["04f461f16d42b565"],["8c87e0ff6d603664"]]},{"id":"8c87e0ff6d603664","type":"api-call-service","z":"aebc585f.fa34c8","name":"","server":"afb1d16.b1a413","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.lu_grobstaubfilterwechseln_r"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1800,"y":320,"wires":[[]]},{"id":"255fa16271d8c1c7","type":"function","z":"aebc585f.fa34c8","name":"Grobstaubfilter wechseln! (7002)","func":"var array = msg.payload;\n\nvar type = array[0];\nvar modbusID = array [1];\nvar value = array[2];\n\n//var jsonString = {};\n\n//Summenstörung\nif (type == 130 && ((modbusID == 7002) || (modbusID == 7003))) {\n    \n    \n    var newMsg = { payload: value.trim() };\n    node.send(newMsg);\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1110,"y":320,"wires":[["a61a20b9560b53de"]]},{"id":"fd23a8d9599dc055","type":"function","z":"aebc585f.fa34c8","name":"arrange_warmwasser_soll_cmd","func":"\n//var device = Number(global.get('homeassistant.homeAssistant.states')[\"input_number.dw_device\"].state);\n//var address = Number(global.get('homeassistant.homeAssistant.states')[\"input_number.dw_address\"].state);\n\nvar device = 140\nvar address = 5064\nvar value = Number(global.get('homeassistant.homeAssistant.states')[\"input_number.wp_brauchwasser_solltemp_rw\"].state * 1000);\n\nmsg.payload = String(device) +  \" \" + String(address) + \" \" + String(value);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2570,"y":1080,"wires":[["bc219336f8a18b1c"]]},{"id":"b3e94b1977cd8ac0","type":"ha-button","z":"aebc585f.fa34c8","name":"dw_set_warmwasser_soll","version":0,"debugenabled":false,"outputs":1,"entityConfig":"299a9d2b9b842fed","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":2230,"y":1080,"wires":[["fd23a8d9599dc055","37104f9e79f83201"]]},{"id":"37104f9e79f83201","type":"delay","z":"aebc585f.fa34c8","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2370,"y":1120,"wires":[["fd23a8d9599dc055"]]},{"id":"99557a083d4968de","type":"function","z":"aebc585f.fa34c8","name":"arrange_lu_betriebsart_cmd","func":"\n//var device = Number(global.get('homeassistant.homeAssistant.states')[\"input_number.dw_device\"].state);\n//var address = Number(global.get('homeassistant.homeAssistant.states')[\"input_number.dw_address\"].state);\n\nconst betrart_array = [\"Manuelle Stufe 0\", \"Manuelle Stufe 1\", \"Manuelle Stufe 2\", \"Manuelle Stufe 3\", \"Automatikbetrieb\", \"Party\"];\n\nvar device = 130\nvar address = 5002\nvar betrart = global.get('homeassistant.homeAssistant.states')[\"input_select.lu_betriebsart_rw\"].state;\n\nvar value = betrart_array.indexOf(betrart,0);\n\nmsg.payload = String(device) +  \" \" + String(address) + \" \" + String(value);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2560,"y":1200,"wires":[["bc219336f8a18b1c"]]},{"id":"321e1c009fab8181","type":"ha-button","z":"aebc585f.fa34c8","name":"dw_set_lu_betriebsart","version":0,"debugenabled":false,"outputs":1,"entityConfig":"45fccb145c55bd9f","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":2220,"y":1200,"wires":[["99557a083d4968de","bea8f4d293ad9e44"]]},{"id":"bea8f4d293ad9e44","type":"delay","z":"aebc585f.fa34c8","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2370,"y":1240,"wires":[["99557a083d4968de"]]},{"id":"fc9cb8d39ab207a7","type":"function","z":"aebc585f.fa34c8","name":"arrange_aussch_hyst_hz1_cmd","func":"\n//var device = Number(global.get('homeassistant.homeAssistant.states')[\"input_number.dw_device\"].state);\n//var address = Number(global.get('homeassistant.homeAssistant.states')[\"input_number.dw_address\"].state);\n\nvar device = 140\nvar address = 5378\nvar value = Number(global.get('homeassistant.homeAssistant.states')[\"input_number.wp_ausschaltpkt_hys_raumheizstufe_1_rw\"].state * 1000);\n\nmsg.payload = String(device) +  \" \" + String(address) + \" \" + String(value);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2570,"y":1300,"wires":[["bc219336f8a18b1c"]]},{"id":"f0c2f43f31855114","type":"ha-button","z":"aebc585f.fa34c8","name":"dw_set_aussch_hyst_hz1","version":0,"debugenabled":false,"outputs":1,"entityConfig":"6a6da43f25a06379","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":2230,"y":1300,"wires":[["fc9cb8d39ab207a7","b09d34fd5270b663"]]},{"id":"b09d34fd5270b663","type":"delay","z":"aebc585f.fa34c8","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2370,"y":1340,"wires":[["fc9cb8d39ab207a7"]]},{"id":"10116720a86c058e","type":"function","z":"aebc585f.fa34c8","name":"arrange_aussch_hyst_hz2_cmd","func":"\n//var device = Number(global.get('homeassistant.homeAssistant.states')[\"input_number.dw_device\"].state);\n//var address = Number(global.get('homeassistant.homeAssistant.states')[\"input_number.dw_address\"].state);\n\nvar device = 140\nvar address = 5382\nvar value = Number(global.get('homeassistant.homeAssistant.states')[\"input_number.wp_ausschaltpkt_hys_raumheizstufe_2_rw\"].state * 1000);\n\nmsg.payload = String(device) +  \" \" + String(address) + \" \" + String(value);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2570,"y":1380,"wires":[["bc219336f8a18b1c"]]},{"id":"d314051d1c323064","type":"ha-button","z":"aebc585f.fa34c8","name":"dw_set_aussch_hyst_hz2","version":0,"debugenabled":false,"outputs":1,"entityConfig":"7434a778889f78f7","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":2230,"y":1380,"wires":[["10116720a86c058e","2945cf1f7f23ba4a"]]},{"id":"2945cf1f7f23ba4a","type":"delay","z":"aebc585f.fa34c8","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2370,"y":1420,"wires":[["10116720a86c058e"]]},{"id":"9315dc9037a259e4","type":"function","z":"aebc585f.fa34c8","name":"arrange_einsch_hyst_hz1_cmd","func":"\n//var device = Number(global.get('homeassistant.homeAssistant.states')[\"input_number.dw_device\"].state);\n//var address = Number(global.get('homeassistant.homeAssistant.states')[\"input_number.dw_address\"].state);\n\nvar device = 140\nvar address = 5376\nvar value = Number(global.get('homeassistant.homeAssistant.states')[\"input_number.wp_einschaltpkt_hys_raumheizstufe_1_rw\"].state * 1000);\n\nmsg.payload = String(device) +  \" \" + String(address) + \" \" + String(value);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2570,"y":1460,"wires":[["bc219336f8a18b1c"]]},{"id":"e819789c68d1ded7","type":"ha-button","z":"aebc585f.fa34c8","name":"dw_set_einsch_hyst_hz1","version":0,"debugenabled":false,"outputs":1,"entityConfig":"7c261249badacd9e","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":2230,"y":1460,"wires":[["9315dc9037a259e4","bae0e3d00e344f85"]]},{"id":"bae0e3d00e344f85","type":"delay","z":"aebc585f.fa34c8","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2370,"y":1500,"wires":[["9315dc9037a259e4"]]},{"id":"196064717b6ec99d","type":"function","z":"aebc585f.fa34c8","name":"arrange_einsch_hyst_hz2_cmd","func":"\n//var device = Number(global.get('homeassistant.homeAssistant.states')[\"input_number.dw_device\"].state);\n//var address = Number(global.get('homeassistant.homeAssistant.states')[\"input_number.dw_address\"].state);\n\nvar device = 140\nvar address = 5380\nvar value = Number(global.get('homeassistant.homeAssistant.states')[\"input_number.wp_einschaltpkt_hys_raumheizstufe_2_rw\"].state * 1000);\n\nmsg.payload = String(device) +  \" \" + String(address) + \" \" + String(value);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2570,"y":1540,"wires":[["bc219336f8a18b1c"]]},{"id":"8c0520a3f49b6a19","type":"ha-button","z":"aebc585f.fa34c8","name":"dw_set_einsch_hyst_hz2","version":0,"debugenabled":false,"outputs":1,"entityConfig":"f1eaa2a9e8197b05","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":2230,"y":1540,"wires":[["196064717b6ec99d","fd5b5cdf18b61c57"]]},{"id":"fd5b5cdf18b61c57","type":"delay","z":"aebc585f.fa34c8","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2370,"y":1580,"wires":[["196064717b6ec99d"]]},{"id":"8bc8476d32a38c65","type":"function","z":"aebc585f.fa34c8","name":"arrange_raumtemp_passkuehlung_cmd","func":"\n//var device = Number(global.get('homeassistant.homeAssistant.states')[\"input_number.dw_device\"].state);\n//var address = Number(global.get('homeassistant.homeAssistant.states')[\"input_number.dw_address\"].state);\n\nvar device = 140\nvar address = 5182\nvar value = Number(global.get('homeassistant.homeAssistant.states')[\"input_number.wp_raumtemp_passive_kuehlung_ein_rw\"].state * 1000);\n\nmsg.payload = String(device) +  \" \" + String(address) + \" \" + String(value);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2600,"y":1620,"wires":[["bc219336f8a18b1c"]]},{"id":"b6479b49fc13fd8e","type":"ha-button","z":"aebc585f.fa34c8","name":"dw_set_raumtemp_passkuehlung","version":0,"debugenabled":false,"outputs":1,"entityConfig":"de479e09068a54e9","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":2250,"y":1620,"wires":[["8bc8476d32a38c65","cc2ddb9c4f757f13"]]},{"id":"cc2ddb9c4f757f13","type":"delay","z":"aebc585f.fa34c8","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2370,"y":1660,"wires":[["8bc8476d32a38c65"]]},{"id":"e4c831f2e68f98a2","type":"function","z":"aebc585f.fa34c8","name":"arrange_aussch_schw_solar_cmd","func":"\n//var device = Number(global.get('homeassistant.homeAssistant.states')[\"input_number.dw_device\"].state);\n//var address = Number(global.get('homeassistant.homeAssistant.states')[\"input_number.dw_address\"].state);\n\nvar device = 140\nvar address = 5180\nvar value = Number(global.get('homeassistant.homeAssistant.states')[\"input_number.wp_solaranlage_ausschaltschw_solarpumpe_rw\"].state * 1000);\n\nmsg.payload = String(device) +  \" \" + String(address) + \" \" + String(value);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2580,"y":1700,"wires":[["bc219336f8a18b1c"]]},{"id":"9e2fc1827fe1c842","type":"ha-button","z":"aebc585f.fa34c8","name":"dw_set_aussch_schw_solar","version":0,"debugenabled":false,"outputs":1,"entityConfig":"72c763f33cac1caf","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":2240,"y":1700,"wires":[["e4c831f2e68f98a2","c18924745a2433c7"]]},{"id":"c18924745a2433c7","type":"delay","z":"aebc585f.fa34c8","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2370,"y":1740,"wires":[["e4c831f2e68f98a2"]]},{"id":"a02f2f4e65fc7f6d","type":"function","z":"aebc585f.fa34c8","name":"arrange_einsch_schw_solar_cmd","func":"\n//var device = Number(global.get('homeassistant.homeAssistant.states')[\"input_number.dw_device\"].state);\n//var address = Number(global.get('homeassistant.homeAssistant.states')[\"input_number.dw_address\"].state);\n\nvar device = 140\nvar address = 5178\nvar value = Number(global.get('homeassistant.homeAssistant.states')[\"input_number.wp_solaranlage_einschaltschw_solarpumpe_rw\"].state * 1000);\n\nmsg.payload = String(device) +  \" \" + String(address) + \" \" + String(value);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2580,"y":1780,"wires":[["bc219336f8a18b1c"]]},{"id":"71064690a668404b","type":"ha-button","z":"aebc585f.fa34c8","name":"dw_set_einsch_schw_solar","version":0,"debugenabled":false,"outputs":1,"entityConfig":"304d28c2ecc022d7","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":2230,"y":1780,"wires":[["a02f2f4e65fc7f6d","3a75f5366ca3a492"]]},{"id":"3a75f5366ca3a492","type":"delay","z":"aebc585f.fa34c8","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2370,"y":1820,"wires":[["a02f2f4e65fc7f6d"]]},{"id":"81ef24b18d123ac9","type":"function","z":"aebc585f.fa34c8","name":"arrange_max_ladetemp_solar_cmd","func":"\n//var device = Number(global.get('homeassistant.homeAssistant.states')[\"input_number.dw_device\"].state);\n//var address = Number(global.get('homeassistant.homeAssistant.states')[\"input_number.dw_address\"].state);\n\nvar device = 140\nvar address = 5176\nvar value = Number(global.get('homeassistant.homeAssistant.states')[\"input_number.wp_solaranlage_max_ladetemp_rw\"].state * 1000);\n\nmsg.payload = String(device) +  \" \" + String(address) + \" \" + String(value);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2580,"y":1860,"wires":[["bc219336f8a18b1c"]]},{"id":"116824a610f8b5ab","type":"ha-button","z":"aebc585f.fa34c8","name":"dw_set_max_ladetemp_solar","version":0,"debugenabled":false,"outputs":1,"entityConfig":"659e05ce6dda11ea","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":2240,"y":1860,"wires":[["81ef24b18d123ac9","dec05e15a8bc2637"]]},{"id":"dec05e15a8bc2637","type":"delay","z":"aebc585f.fa34c8","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2370,"y":1900,"wires":[["81ef24b18d123ac9"]]},{"id":"dc5f7c5e.c7c5c8","type":"serial-port","serialport":"/dev/ttyUSB0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"\\n","responsetimeout":"500"},{"id":"afb1d16.b1a413","type":"server","name":"Home Assistant","addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"","connectionDelay":false,"cacheJson":false,"heartbeat":false,"heartbeatInterval":"","areaSelector":"id","deviceSelector":"id","entitySelector":"id","statusSeparator":"","statusYear":"hidden","statusMonth":"hidden","statusDay":"hidden","statusHourCycle":"default","statusTimeFormat":"h:m","enableGlobalContextStore":false},{"id":"bafd49f1ad25079c","type":"ha-entity-config","server":"afb1d16.b1a413","deviceConfig":"6246b9384315d77f","name":"dw_set_soll_temp","version":"6","entityType":"button","haConfig":[{"property":"name","value":"dw_set_soll_temp"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false},{"id":"fa4ef61ac29b4a09","type":"ha-entity-config","server":"afb1d16.b1a413","deviceConfig":"","name":"dw_send_read_updates","version":"6","entityType":"button","haConfig":[{"property":"name","value":"dw_send_read_updates"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false},{"id":"299a9d2b9b842fed","type":"ha-entity-config","server":"afb1d16.b1a413","deviceConfig":"","name":"dw_set_warmwasser_soll","version":"6","entityType":"button","haConfig":[{"property":"name","value":"dw_set_warmwasser_soll"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false},{"id":"45fccb145c55bd9f","type":"ha-entity-config","server":"afb1d16.b1a413","deviceConfig":"","name":"dw_set_lu_betriebsart","version":"6","entityType":"button","haConfig":[{"property":"name","value":"dw_set_lu_betriebsart"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false},{"id":"6a6da43f25a06379","type":"ha-entity-config","server":"afb1d16.b1a413","deviceConfig":"","name":"dw_set_aussch_hyst_hz1","version":"6","entityType":"button","haConfig":[{"property":"name","value":"dw_set_aussch_hyst_hz1"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false},{"id":"7434a778889f78f7","type":"ha-entity-config","server":"afb1d16.b1a413","deviceConfig":"","name":"dw_set_aussch_hyst_hz2","version":"6","entityType":"button","haConfig":[{"property":"name","value":"dw_set_aussch_hyst_hz2"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false},{"id":"7c261249badacd9e","type":"ha-entity-config","server":"afb1d16.b1a413","deviceConfig":"","name":"dw_set_einsch_hyst_hz1","version":"6","entityType":"button","haConfig":[{"property":"name","value":"dw_set_einsch_hyst_hz1"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false},{"id":"f1eaa2a9e8197b05","type":"ha-entity-config","server":"afb1d16.b1a413","deviceConfig":"","name":"dw_set_einsch_hyst_hz2","version":"6","entityType":"button","haConfig":[{"property":"name","value":"dw_set_einsch_hyst_hz2"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false},{"id":"de479e09068a54e9","type":"ha-entity-config","server":"afb1d16.b1a413","deviceConfig":"","name":"dw_set_raumtemp_passkuehlung","version":"6","entityType":"button","haConfig":[{"property":"name","value":"dw_set_raumtemp_passkuehlung"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false},{"id":"72c763f33cac1caf","type":"ha-entity-config","server":"afb1d16.b1a413","deviceConfig":"","name":"dw_set_aussch_schw_solar","version":"6","entityType":"button","haConfig":[{"property":"name","value":"dw_set_aussch_schw_solar"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false},{"id":"304d28c2ecc022d7","type":"ha-entity-config","server":"afb1d16.b1a413","deviceConfig":"","name":"dw_set_einsch_schw_solar","version":"6","entityType":"button","haConfig":[{"property":"name","value":"dw_set_einsch_schw_solar"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false},{"id":"659e05ce6dda11ea","type":"ha-entity-config","server":"afb1d16.b1a413","deviceConfig":"","name":"dw_set_max_ladetemp_solar","version":"6","entityType":"button","haConfig":[{"property":"name","value":"dw_set_max_ladetemp_solar"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false},{"id":"6246b9384315d77f","type":"ha-device-config","name":"dw_set_soll_temp","hwVersion":"","manufacturer":"Node-RED","model":"","swVersion":""}]